:root {
  font-family: "Raleway", sans-serif;
}

.card {
  width: 25rem;
  max-width: 70vw;
  margin-bottom: 3rem;
}

.cardContainer {
  perspective: 80rem;
  background: #181818;
  border-radius: 2rem;
  box-shadow: 0 0 2rem 1rem rgba(218, 79, 197, 0.1),
    0 0 3rem 1rem rgba(153, 54, 198, 0.05);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cardContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 0 2rem 1rem rgba(218, 79, 197, 0.2),
    0 0 3rem 1rem rgba(153, 54, 198, 0.1),
    0 0 4rem 2rem rgba(108, 49, 160, 0.15);
}

.imageContainer {
  width: 100%;
  width: 33rem;
  height: 22rem;
  position: relative;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35); 
  z-index: 1; 
  pointer-events: none; 
}

.emoji {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  background-color: transparent;
  mix-blend-mode: normal;
}

.emoji::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 75%;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name h1 {
  color: white;
  font-size: 1.2rem;
  margin: 0;
  max-width: 100%;
  text-align: center;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.name,
.name * {
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
}

.date {
  color: white;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
}
